<!DOCTYPE html>
<html >

<head>
    <title>
        RESTful Application
    </title>

    <link rel="stylesheet" href="/static/css/rest.css" />
    <link rel="stylesheet" href="/static/css/main.css">

    <base href="/">

    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>

</head>

<body>

{% block navbar %}
{% include "nav.html" %}
{% endblock %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>


<div class="container">
    {% block footer %}
    <hr>
    <footer>
        <p>RESTful Application</p>
    </footer>
    {% endblock %}
</div>


{% block scripts %}

<script type="text/javascript" src="/static/js/util/lodash.js"></script>

<script type="text/javascript" src="/static/js/jquery/jquery.js"></script>

<script type="text/javascript" src="/static/js/angular/angular.js"></script>
<script type="text/javascript" src="/static/js/angular/angular-animate.js"></script>
<script type="text/javascript" src="/static/js/angular/angular-cookies.js"></script>
<script type="text/javascript" src="/static/js/angular/angular-resource.js"></script>
<script type="text/javascript" src="/static/js/angular/angular-route.js"></script>

<script type="text/javascript" src="/static/js/bootstrap/affix.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/alert.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/button.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/carousel.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/collapse.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/dropdown.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/modal.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/tooltip.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/popover.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/scrollspy.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/tab.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/transition.js"></script>

<script type="text/javascript" src="/static/js/util/angular-ui-bootstrap.js"></script>



<script type="text/javascript" src="/static/angular/rest/app.js"></script>
<script type="text/javascript" src="/static/angular/rest/app/App.js"></script>
<script type="text/javascript" src="/static/angular/rest/app/controllers/AppCtrl.js"></script>
<script type="text/javascript" src="/static/angular/rest/app/providers/Api.js"></script>
<script type="text/javascript" src="/static/angular/rest/app/services/GroupInfo.js"></script>
<script type="text/javascript" src="/static/angular/rest/app/services/GroupEvents.js"></script>
<script type="text/javascript" src="/static/angular/rest/app/services/Rsvps.js"></script>
<script type="text/javascript" src="/static/angular/rest/app/directives/GroupEvents.js"></script>

{% endblock %}



</body>
</html>
